.money_stack{
    padding: 8rem 0;
    width: 100vw;
}

.money_stack_inner{
    padding: 0 2rem;
}

.money_stack img{
    width: 10rem;
    object-fit: cover;
}

.statistic_group{
    margin-top: 2.4rem;
}

.statistic_number p{
    font-size: 3.6rem;
    font-weight: 600;
    color: white;
    background: linear-gradient(180deg, #1D252D 0%, #1D252D 0%);
    display: inline;
}

.statistic_support{
    margin-top: 1rem;
    font-size: 2.6rem;
}

.statistic_credit{
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 100;
    margin-top: 2rem;
}



@media (min-width: 600px){
    .money_stack_inner {
        padding-left: 6.4rem;
        padding-right: 6.4rem;
    }

    .money_stack img{
        width: 15rem;
        object-fit: cover;
    }
}

@media (min-width: 900px){
    .money_stack{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .money_stack_inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .money_stack img{
        width: 20rem;
        object-fit: cover;
        margin: 0 5rem;
    }

    .statistic_group{
        max-width: 50rem;
        margin-right: 5rem;
        margin-left: 25rem;
    }

    .statistic_number p{
        font-size: 6.5rem;
    }

    .statistic_support{
        font-size: 3.5rem;
    }
}

@media (min-width: 900px){
    .money_stack_inner{
        padding-left: 7.2rem;
        padding-right: 7.2rem;
        max-width: 90rem;
    }
}