.button{
    font-size: 1.6rem;
    width: 180px;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 100px;
    margin: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
.button:hover{
    background-color: white;
    cursor: pointer;
    color: #045EE0;
}

.active_button{
    font-size: 1.6rem;
    width: 180px;
    height: 50px;
    background-color: white;
    border: 2px solid white;
    border-radius: 100px;
    margin: 5px;
    color: #045EE0;
    font-weight: bold;
    text-transform: uppercase;
}