.content_section{
    padding-top: 6rem;
    padding-bottom: 2rem;
}

.content_section_inner{
    padding-left: 5vw;
    padding-right: 5vw;
    margin: 0 auto;
}

.content_section h2{
    font-size: 2.6rem;
    font-weight: 500;
    margin: 60px 0;
    line-height: 1.2;
}

.number_counter{
    padding-top: 0;
    padding-bottom: 4rem;
}

.number_counter_inner{
    padding-left: 5vw;
    padding-right: 5vw;
    margin: 0 auto;
}

.number_counter_number{
    font-size: 5.8rem;
    background-color: #222;
    display: inline;
    color: white;
    font-weight: bold;
    padding: 5rem .5rem 0 .5rem;
}

.number_counter_support{
    font-size: 4.5rem;
    color: white;
    -webkit-text-stroke: 1px #1E252D;
    text-align: left;
    line-height: 1.5;
}

.number_counter_group{
    margin-top: 1.6rem;
}

.number_counter_body{
    font-size: 1.9rem;
    max-width: 250px;
    font-weight: 300;
}

.number_counter_credit{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1.2;
    color: #1d252d;
    vertical-align: baseline;
    max-width: 250px;
}

@media (min-width: 900px) 
{
    .content_section{
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

    .content_section h2{
        font-size: 3.5rem;
        max-width: 650px;
    }

    .number_counter{
        padding-top: 0;
        padding-bottom: 8rem;
    }

    .number_counter_number{
        font-size: 8.5rem;
    }
    .number_counter_support{
        font-size: 7rem;
    }

    .number_counter_body{
        font-size: 2.5rem;
    }

    .number_counter_credit{
        font-size: 1.5rem;
    }

    .number_counter_inner{
        display: flex;
        justify-content: space-between;
    }

    .number_counter_group{
        margin-left: 40px;
        line-height: 1.2;
    }
}

@media (min-width: 900px) 
{
    .content_section_inner{
        padding-left: 7.2rem;
        padding-right: 7.2rem;
        max-width: 90rem;
    }

    .number_counter_inner{
        padding-left: 7.2rem;
        padding-right: 7.2rem;
        max-width: 90rem;
    }
}

@media (min-width: 1024px) 
{
    .number_counter_number {
        font-size: 10rem;
    }

    .number_counter_support{
        font-size: 8.5rem;
    }
}