html, body, * {
    margin: 0;
    overflow-x: hidden;
    font-family: Helvetica Neue,Helvetica,sans-serif;
    font-size: 62.5%;
    color: #1D252D;
    padding: 0;
}

div, ul{
    overflow: hidden;
}

h1,h2,h3,h4,h5, p, span{
    overflow: hidden;
    line-height: 1;
}