.navbar{
    display: none;
}

@media (min-width: 1024px) 
{
    .navbar{
        position: fixed;
        right: 1rem;
        z-index: 1;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .navbar a{
        text-decoration: none;
        color: black;
    }
    
    .navbar ul li{
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        text-align: center;
        font-size: 1.6rem;    
        border: 2px solid black;
        border-radius: 100%;
        width: 3.2rem;
        height: 3.2rem;
        text-align: center;
        margin: 1rem;
        transition: .3s background-color;
        font-weight: 700;
    }
    .navbar ul li:hover{
        background-color: black;
        color: white;
        cursor: pointer;
    }
}
