.simple_stat{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.simple_stat_inner {
    padding-left: 5vw;
    padding-right: 5vw;
    margin: 0 auto;
}

.simple_stat_prefix{
    font-size: 2.6rem;
}

.simple_stat_main{
    font-size: 3.6rem;
    font-weight: 500;
    margin-top: 4rem;
}

.simple_stat_credit {
    line-height: 1.2;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
    margin-top: 3rem;
}