.share{
    padding-top: 0;
    padding-bottom: 8rem;
}

.share_inner{
    padding-left: 5vw;
    padding-right: 5vw;
    margin: 0 auto;
}

.lead{
    line-height: 1.4;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
}

.heading{
    font-size: 2.6rem;
    font-weight: 400;
    margin-top: .8rem;
}

.button{
    font-size: 1.6rem;
    padding: 1.2rem 32px;
    border: 2px solid black;
    background-color: white;
    border-radius: 100px;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    transition: .3s background-color;
}

.button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

@media (min-width: 900px){
    .twitter-share_lead {
        font-size: 2rem;
    }

    .heading{
        font-size: 3.5rem;
    }
}

@media (min-width: 1024px){
    .share{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .share_inner{
        max-width: 90rem;
    }
}