.content_section{
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: block;
}

.content_section_inner{
    max-width: 65rem;
    padding-left: 5vw;
    padding-right: 5vw;
}

.text_section{
    max-width: 65rem;
    line-height: 1.1;
}

.content_section p{
    font-size: 1.9rem;
}

.content_section h2{
    font-size: 2.6rem;
    font-weight: 600;
    margin-top: 35px;
    overflow: hidden;
}

@media (min-width: 600px){
    .content_section_inner {
        padding-left: 6.4rem;
        padding-right: 6.4rem;
    }
}

@media (min-width: 900px) 
{
    .content_section{
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

    .content_section p{
        font-size: 2.5rem;
    }

    .content_section h2{
        font-size: 3.5rem;
    }
}

@media (min-width: 1024px) 
{
    .content_section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}